// Color
$primary: #0559ff;
$background-l3: #003399;
$background-l2: #ccd7ee;
$background-l1: #ebf2ff;
$background: #f8fafd;

// Resolution
$desktop-lg: 75rem; // 1200px
$desktop: 62em; // 992px
$tablet: 48em; // 768px
$mobile: 37.5rem; // 600px
